table {
	width: 100%;

	th {
		width: 20%;

		&.larger {
			width: 30%;
		}
	}

	td {
		padding-bottom: 1em;
	}
}

.serif {
	font-family: Georgia, Times, serif;
}

.row-condensed {
	.col-sm-7, .col-sm-5 {

		&:first-child {
			padding-right: 0;
		}

		&:last-child {
			padding-left: 0;
		}
	}
}